[Desktop Entry]
Type=Application
Name=Python
MimeType=text/x-python;
Exec=env WINEPREFIX="/opt/mt5-prefix" wine start /ProgIDOpen Python.File %f
NoDisplay=true
StartupNotify=true
Icon=A12F_py.0
