[Desktop Entry]
Name=IDLE (Python 3.9 32-bit)
Exec=env WINEPREFIX="/opt/mt5-prefix" wine C:\\\\users\\\\root\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start\\ Menu\\\\Programs\\\\Python\\ 3.9\\\\IDLE\\ \\(Python\\ 3.9\\ 32-bit\\).lnk
Type=Application
StartupNotify=true
Comment=Launches IDLE, the interactive environment for Python 3.9.
Path=/opt/mt5-prefix/dosdevices/c:/Program Files (x86)/Python39-32/
Icon=11CB_idle.0
StartupWMClass=pythonw.exe
